<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

</head>
<body>
<div class="container">
    <div class="row">

        <div class="col">
            <h3 class="text-center">Detalle de compra</h3>

            <br>

            <table class="table">
                <thead class="table-success">
                <tr>
                    <th scope="col">Total de compra</th>
                    <th scope="col">Codigo de autorizacion</th>
                    <th scope="col">Codigo de respuesta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="amount"></td>
                    <td id="authorizationCode"></td>
                    <td id="responseCode"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    document.getElementById('amount').innerHTML = window.localStorage.getItem('amount');
    document.getElementById('authorizationCode').innerHTML = window.localStorage.getItem('authorizationCode');
    document.getElementById('responseCode').innerHTML = window.localStorage.getItem('responseCode');
</script>

</body>
</html>