<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header :: header">

</head>
<body>
	<div th:insert="fragments/nav :: nav"></div>

	<div class="container">
		<div class="row">

			<div class="col-md-6 offset-md-3">

				<h4 class="text-center">Pantalla Principal</h4>
				<br>
				
				<!-- Formulario principal que manda los valores al controlador WebpayController 
					 para iniciar la transaccion -->
				<form action="#" th:action="@{/webpay}" th:object="${purchase}" method="post">
					<div class="form-group">
						<label for="monto">Monto</label>
						<input type="number" class="form-control" id="montoInpt" placeholder="Ingresa un monto" th:field="*{amount}"/>
					</div>
					<div class="form-group">
						<label for="session">Id de sesion</label>
						<input type="text" class="form-control" id="sessionIdInpt" th:field="*{sessionId}" readonly/>
					</div>
					<div class="form-group">
						<label for="session">Orden de compra</label>
						<input type="text" class="form-control" id="buyOrderInpt" th:field="*{buyOrder}" readonly/>
					</div>
					
					<br>
					<div class="form-group">
						<div class="col text-center">
							<input type="checkbox" class="form-check-input" id="checkBuy">
    						<label class="form-check-label" for="check">Confirmar valores</label>
    					</div>
					</div>
					
					<div class="col text-center">
						<button type="submit" class="btn btn-primary" id="comprarBtn">Comprar</button>
					</div>
				</form>

			</div>
		</div>
	</div>

	<div th:insert="fragments/footer :: footer"></div>
	
	<script th:src="@{/js/main.js}"></script>
</body>
</html>